body{
  background: white;
}
#jumbotron{
  background-image: url(homeimg.jpg);
  background-repeat: no-repeat;
  color: white;
  text-align: right;
}
#jumbotron h3{
  padding-top: 2%;
  padding-right: 2%;

}
#jumbotron h5{
  padding-right: 2%;
}
label{
  color: blue;
}
.card-section{
  padding: 2% 8%;
}
#footer{
  margin-top: 5%;
}
