li.history{
  background-color: #bfbabe;

  list-style-type: none;
  padding: 1em;
  width: 80%;
  margin: auto;
  margin-bottom: 2em;
  align-content: center;
}

h2{
  margin: 0.3em;
  text-align: center;
  color: brown;

}
