body{
  background:white;
  font-family: optima;
}
.navbar{
  background: #ed2626;

}
#navbarTogglerDemo01 ul li a{
   color: white;
}
#navbarTogglerDemo01 ul li a:hover{
  color: #292b2c;
}

#dropdownMenuButton{
  color: white;
}
#jumbotron{
  margin-bottom: 0%;
  padding: 0px;
}
.header-image{
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.fluid-container{
  margin: 5% 10%;
}
.fluid-container .card{
  width: 18rem;
  margin-left: 10%;

}

.row{
  margin-top:5%;
  clear: both;
}
#footer{

  background:grey;
  height:3em;
}

img {

  max-width: 100%;
  align-content: center;
}
